<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/style.css')}}">
    <div class="header">
        <h1><a href="{{ url_for('index')}}" class="simpl">Simpl News</a></h1>
    </div>
</head>
<body>
    <div class="container">
        <h2><a href="{{ url_for('world')}}" class="section-title">World</a></h2>
        <ul>
            {% for url in page_urls %}
                <li><a href="{{ url_for('static', filename=url) }}">{{ page_urls[url].title }}</a>{{ page_urls[url].sub }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>